.App {
  background-color: #282c34;
  min-height: 100vh;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: flex-start; */
  color: white;
}

.Container{
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-div{
  margin: 5px;
}

.input-add{
  border-radius: 5px;
  height: 30px;
  width:250px;
}

.add-btn{
  background-color: blueviolet;
  color: "white";
  border-radius: 5px;
  margin-left: 5px;
  height: 35px;
  width:70px;
}

.list > ul > li{
  margin-top: 8px;
  margin-right: 35px;
  background-color: rgb(195, 190, 190);
  color: black;
  width: 330px;
  height: 35px;
  padding: 2px;
  border-radius: 5px;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-between;

  text-transform: uppercase;
}

.list ul{
  list-style-type: none;
}

.del-btn{
  background-color: red;
  color: "white";
  border-radius: 5px;
  /* margin-left: 5px; */
  height: 35px;
  width:70px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
